<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App Management</title>
    <link rel="stylesheet" href="static/css/management.css">
    <link rel="icon" type="image/png" href="static/favicon_io/apple-touch-icon.png"/>
</head>
<body>
<!--    train button for train request  -->
<h3>Please input at least 4-5 photos with subject in different lighting conditions</h3>
<form>
    <label for="files">Select files for training:</label>
    <input
            type="file"
            id="files"
            name="files"
            multiple
            accept="image/png,image/webp,image/jpeg">
    <br><br><br>
    <label for="name">Name to add as a label to the neural network</label><br>
    <input type="text" id="name"><br>
    <input type="button" value="Add to list" id="add-employee-button">
<!--    TODO This needs to trigger the request as admin to create the new employee in the database -->
</form>
</body>
<script async src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="module" src="static/js/management.js"></script>
</html>